body {
  background: #f4f2ed;
  font: 12px/1.3em Helvetica; }

a {
  text-decoration: none; }

header {
  margin: 2em 0.5em; }
  header h1, header h1 a {
    color: #333333; }
  header h2 {
    color: #999999;
    font-size: 16px; }

#filter {
  position: absolute;
  top: 20px;
  right: 8px;
  border: 1px solid black;
  background: #eeeeee;
  -webkit-border-radius: 5px;
  padding: 3px; }
  #filter:focus {
    border: 1px solid transparent; }

.table-wrapper {
  min-width: 700px; }

table {
  border: 1px solid grey;
  background: #cccccc;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em; }

table.source, pre, code {
  font: 11px/1.2em Menlo; }

td pre {
  margin: 0; }

.summary {
  margin-bottom: 1em;
  background: #e0dedb; }
  .summary tbody .name, .summary tbody .name a {
    color: black;
    font-weight: bold; }
  .summary tbody tr:hover {
    background: #c8c5c0; }
  .summary thead {
    background: #333333;
    color: #cccccc; }
  .summary tr {
    text-align: left; }
  .summary th, .summary td {
    padding: 0.5em; }
  .summary .header::after {
    font-size: 10px;
    margin-left: 10px; }
  .summary .descending::after {
    content: "▼"; }
  .summary .ascending::after {
    content: "▲"; }
  .summary .lines, .summary .loc, .summary .ran, .summary .cov, .summary .code {
    width: 100px; }

.totals {
  border-top: 1px solid black;
  background: #c8c5c0;
  font-weight: bold; }

.source tr pre {
  margin-left: 3px; }
.source tr .count {
  background: white;
  -webkit-border-radius: 4px;
  -webkit-border-top-left-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  display: block;
  padding: 3px;
  position: absolute;
  margin-top: -10px;
  margin-left: -15px;
  opacity: 0; }
.source tr .no {
  color: #cccccc;
  background: #333333;
  padding: 0 0 0 3px;
  width: 25px; }
.source tr:hover .count {
  opacity: 1; }
.source tr:hover .no {
  color: white; }
.source tr.excluded {
  background: #e0dedb; }
  .source tr.excluded:hover {
    background: #c8c5c0; }
.source tr.unran {
  background: #ce8b8c; }
  .source tr.unran:hover {
    background: #bf6768; }
.source tr.ran {
  background: #bed2be; }
  .source tr.ran:hover {
    background: #a0bda0; }

footer {
  color: rgba(0, 0, 0, 0.6); }
  footer a {
    color: black; }
